Lection_15_Alerts/Lection_15_Alerts.xcodeproj/project.xcworkspace/xcuserdata/ksenia.xcuserdatad/UserInterfaceState.xcuserstate
Lection_15_Alerts/Lection_15_Alerts.xcodeproj/xcuserdata/ksenia.xcuserdatad/xcschemes/xcschememanagement.plist
